.textmark {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.modify {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info {
	display: flex;
    justify-content: center;
    width: 100%;
}
#frm {
	width: 100%;
}
.modifytb {
	border-top: 1px solid #b7b9cc;
	width: 60%;
}
.modifytb > tbody > tr {
	border-bottom: 1px solid #b7b9cc;
	font-size: 13px;
}
.modifytb > tbody > tr > th {
	border-right: 1px solid #b7b9cc;
	padding: 10px;
	width: 20%;
}
.modifytb > tbody > tr > td {
	padding: 10px;
}

.division {
	display: flex;
	align-items: center;
}
.division > label {
	margin: 2px 2px 0px 0px;
}
.division > input[type="radio"] {
	margin: 0px 10px 0px 0px;
}
.buttons {
	display: flex;
    justify-content: flex-end;
    width: 60%;
	margin-top: 10px;
}
.buttons > button {
	width: 60px;
	height: 35px;
	font-size: 13px;
	margin-left: 10px;
}
#exampleModalLongTitle {
	margin: 15px;
}
.phone1, .phone2, .phone3 {
	width: 50px;
}
.email1, .email2 {
	width: 150px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.point {
	width: 80px;
}
.address1 {
	width: 400px;
	margin-bottom: 5px;
}
.address {
	width: 500px;
}