<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applyMapper">
	   <!-- 게시판 글 작성 -->
   <insert id="insert">
	   INSERT INTO FUNDING_APPLY(    FID 
	   					      , FCATE 
	   					      , FNAME
	   					      , FPRICE
	   					      , FGOAL
	   					      , FDATE
	   					      , FSTARTDATE 
	   					      , FENDDATE
	   					      , FIMG
	   					      , FIMG1
	   					      , FIMG2
	   					      , FIMG3
	   					      , FDES
	   					      , WRITER)
	                 VALUES(    FUNDING_APPLY_SEQ.NEXTVAL 
	                 		  , #{fcate}  
	                 		  , #{fname}
	                 		  , #{fprice}
	                 		  , #{fgoal} 
	                 		  , #{fdate}
	                 		  , #{fstartdate}
	                 		  , #{fenddate}
	                 		  , #{fimg}
	                 		  , #{fimg1, jdbcType=VARCHAR}
	                 		  , #{fimg2, jdbcType=VARCHAR}
	                 		  , #{fimg3, jdbcType=VARCHAR}
	                 		  , #{fdes}
	                 		  , #{writer})
   </insert>

</mapper>