<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fundingMapper">

	<select id="getlist" parameterType="hashmap" resultType="com.ffunding.web.vo.FundingVO">
		SELECT A.FID,
		COUNT(*) AS sell ,
		SUM(B.FO_PRICE)+
		SUM(B.FO_DONATION) AS price,
		ROUND( ((SUM(B.FO_PRICE)+
		SUM(B.FO_DONATION)) / A.FGOAL) * 100) AS goal,
		ROUND(A.FENDDATE - SYSDATE) AS remain ,
		A.FCATE ,
		A.FNAME ,
		A.FPRICE ,
		A.FGOAL ,
		A.FDATE ,
		A.FSTARTDATE ,
		A.FENDDATE ,
		A.FIMG ,
		A.FIMG1 ,
		A.FIMG2 ,
		A.FIMG3 ,
		A.FIMG4 ,
		A.FIMG5 ,
		A.FDES ,
		A.MID
		FROM FUNDING_PRODUCT A, FUNDING_ORDER B
		WHERE A.FID = B.FID AND FENDDATE > SYSDATE 
		<!-- AND SYSDATE BETWEEN FSTARTDATE AND FENDDATE -->
		<if test="category!=null and !category.equals('')">
    	AND A.FCATE = #{category}
    	</if>
		GROUP BY A.FID,
		A.FNAME ,
		A.FPRICE ,
		A.FGOAL ,
		A.FDATE ,
		A.FSTARTDATE ,
		A.FENDDATE ,
		A.FCATE ,
		A.FIMG ,
		A.FIMG1 ,
		A.FIMG2 ,
		A.FIMG3 ,
		A.FIMG4 ,
		A.FIMG5 ,
		A.FDES ,
		A.MID
		<if test="sort != null">
    	ORDER BY ${sort} DESC
    	</if>
		
	</select>
	<select id="detailview" parameterType="int" resultType="com.ffunding.web.vo.FundingVO">
		SELECT A.FID,
		COUNT(*) AS sell ,
		SUM(B.FO_PRICE)+
		SUM(B.FO_DONATION) AS price,
		ROUND( ((SUM(B.FO_PRICE)+
		SUM(B.FO_DONATION)) / A.FGOAL) * 100) AS goal,
		ROUND(A.FENDDATE - SYSDATE) AS remain ,
		A.FCATE ,
		A.FNAME ,
		A.FPRICE ,
		A.FGOAL ,
		A.FDATE ,
		A.FSTARTDATE ,
		A.FENDDATE ,
		A.FIMG ,
		A.FIMG1 ,
		A.FIMG2 ,
		A.FIMG3 ,
		A.FIMG4 ,
		A.FIMG5 ,
		A.FDES ,
		A.MID
		FROM FUNDING_PRODUCT A, FUNDING_ORDER B
		WHERE A.FID = B.FID AND A.FID = #{fid}
		GROUP BY A.FID,
		A.FNAME ,
		A.FPRICE ,
		A.FGOAL ,
		A.FDATE ,
		A.FSTARTDATE ,
		A.FENDDATE ,
		A.FCATE ,
		A.FIMG ,
		A.FIMG1 ,
		A.FIMG2 ,
		A.FIMG3 ,
		A.FIMG4 ,
		A.FIMG5 ,
		A.FDES ,
		A.MID
		ORDER BY sell DESC
	</select>
	<insert id="orderProduct">
		INSERT INTO funding_order 
		VALUES( 
		funding_order_seq.nextval
		, #{mid}
		, #{fid}
		, #{fo_cnt}
		, #{fo_price}
		, #{fo_donation}
		,sysdate)
	</insert>
	<update id="pointDown">
		UPDATE member 
		SET 
		point= #{point}
		WHERE mid = #{mid}
	</update>
</mapper>