<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="managerMapper">
	<!-- 관리자 -->
	<select id="managerList" resultType="String">
		SELECT mid
		FROM member
		WHERE adminck=1
	</select>
	
	<!-- 총 회원수 -->
	<select id="memberCnt" resultType="int">
		SELECT count(*)
		FROM member
		WHERE adminck=0
	</select>
	
	<!-- 일반회원수 -->
	<select id="generalCnt" resultType="int">
		SELECT count(*)
		FROM member
		WHERE sellerck=0
		AND adminck=0
	</select>
	
	<!-- 판매자수 -->
	<select id="sellerCnt" resultType="int">
		SELECT count(*)
		FROM member
		WHERE sellerck=1
		AND adminck=0
	</select>
	
	<!-- 펀딩신청 총 게시물수 -->
	<select id="applyCnt" resultType="int">
		SELECT count(*)
		FROM FUNDING_APPLY
	</select>
	
	<!-- 펀딩예정 총 게시물수 -->
	<select id="expectCnt" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE to_char(sysdate, 'yymmdd')<to_char(fstartdate, 'yymmdd')
	]]>
	</select>
	
	<!-- 펀딩진행중 총 게시물수 -->
	<select id="progressCnt" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE to_char(fstartdate, 'yymmdd')<to_char(sysdate, 'yymmdd') AND to_char(sysdate, 'yymmdd')<to_char(fenddate, 'yymmdd')
	]]>
	</select>
	
	<!-- 펀딩신청 월별 건수 -->
	<select id="applyMonthCnt" parameterType="int" resultType="int">
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE to_char(sysdate, 'yy')=to_char(FSTARTDATE, 'yy') AND to_char(FSTARTDATE, 'mm')=#{month}
	</select>
	
	<!-- 회원 리스트 및 페이징 처리 sql 공통부분 -->
	<sql id="search">
		<if test="type!=null and type!=''">
			<if test='type=="id"'>
				<if test="searchtext!=null and searchtext!=''">
					AND UPPER(mid) like '%' || UPPER(#{searchtext}) || '%'
				</if>
			</if>
			<if test='type=="name"'>
				<if test="searchtext!=null and searchtext!=''">
					AND UPPER(mname) like '%' || UPPER(#{searchtext}) || '%'
				</if>
			</if>
		</if>
	</sql>
	
	<!-- 회원 리스트 -->
	<select id="memberList" parameterType="com.ffunding.web.vo.MemberPagingVO" resultType="com.ffunding.web.vo.MemberVO">
		SELECT *
		FROM (
			SELECT rownum cnt, m.*
			FROM MEMBER m
			WHERE adminck=0
			<include refid="search"></include>
			ORDER BY mid)
		WHERE cnt between #{start} and #{end}
	</select>
	
	<!-- 회원 검색 결과 총 회원수 -->
	<select id="memberSearchCnt" parameterType="com.ffunding.web.vo.MemberPagingVO" resultType="int">
		SELECT count(*)
		FROM member
		WHERE adminck=0
		<include refid="search"></include>
	</select>
	
	<!-- 회원 상세정보 -->
	<select id="memberDetail" parameterType="String" resultType="com.ffunding.web.vo.MemberVO">
		SELECT *
		FROM member
		WHERE mid=#{mid}
	</select>
	
	<!-- 회원 정보수정 -->
	<update id="memberDetailUpdate" parameterType="com.ffunding.web.vo.MemberVO">
		UPDATE member
		SET 
			mpw=#{mpw},
			mname=#{mname},
			mphone=#{mphone},
			memail=#{memail},
			maddress=#{maddress},
			point=#{point},
			sellerck=#{sellerck}
		WHERE mid=#{mid}
	</update>
	
	<!-- 펀딩신청 리스트 -->
	<select id="applyList" parameterType="com.ffunding.web.vo.ApplyPagingVO" resultType="com.ffunding.web.vo.ApplyViewVO">
		SELECT *
		FROM (
			SELECT ROWNUM cnt, f.*
			FROM (
				SELECT fa.*
				FROM FUNDING_APPLY fa
				<if test='sort=="new"'>
					ORDER BY fid desc
				</if>
				<if test='sort=="old"'>
					ORDER BY fdate asc
				</if>
				<if test='sort=="close"'>
					ORDER BY fstartdate asc
				</if>
			) f
		)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 펀딩신청 상세정보 -->
	<select id="applyDetail" parameterType="int" resultType="com.ffunding.web.vo.ApplyViewVO">
		SELECT *
		FROM FUNDING_APPLY
		WHERE fid=#{fid}
	</select>
	
	<!-- 펀딩신청 이미지 -->
	<select id="applyImage" parameterType="int" resultType="String">
		SELECT STORED_FILE_NAME
		FROM FUNDING_APPLY_FILE
		WHERE fid=#{fid}
		ORDER BY file_no ASC
	</select>
	
	<!-- 펀딩신청 삭제 -->
	<delete id="applyDel" parameterType="int">
		DELETE FROM FUNDING_APPLY 
		WHERE fid=#{fid}
	</delete>
	
	<!-- 펀딩신청 이미지 삭제 -->
	<delete id="applyImageDel" parameterType="int">
		DELETE FROM FUNDING_APPLY_FILE 
		WHERE fid=#{fid} 
	</delete>
	
	<!-- 펀딩신청 승인 -->
	<insert id="fundingIns" parameterType="com.ffunding.web.vo.FundingExpVO">
		INSERT INTO FUNDING_PRODUCT 
		VALUES (
			#{fid}, 
			#{fcate}, 
			#{fname}, 
			#{fprice}, 
			#{fgoal}, 
			#{fdate}, 
			#{fstartdate}, 
			#{fenddate}, 
			#{fimg, jdbcType=VARCHAR}, 
			#{fimg1, jdbcType=VARCHAR}, 
			#{fimg2, jdbcType=VARCHAR}, 
			#{fimg3, jdbcType=VARCHAR}, 
			#{fimg4, jdbcType=VARCHAR}, 
			#{fimg5, jdbcType=VARCHAR}, 
			#{fdes}, 
			#{fmid}
		)
	</insert>
	
	<!-- 모든 회원의 이메일 -->
	<select id="memberEmail" resultType="String">
		SELECT memail
		FROM member
		WHERE memail IS NOT NULL
	</select>
	
	<!-- 판매자 회원의 이메일 -->
	<select id="sellerEmail" resultType="String">
		SELECT memail
		FROM member
		WHERE sellerck=1
		AND memail IS NOT NULL
	</select>
</mapper>