<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="managerMapper">
	<!-- 관리자 -->
	<select id="managerList" resultType="String">
		SELECT mid
		FROM member
		WHERE adminck=1
	</select>
	
	<!-- 총 회원수 -->
	<select id="memberCnt" resultType="int">
		SELECT count(*)
		FROM member
		WHERE adminck=0
	</select>
	
	<!-- 일반회원수 -->
	<select id="generalCnt" resultType="int">
		SELECT count(*)
		FROM member
		WHERE sellerck=0
		AND adminck=0
	</select>
	
	<!-- 판매자수 -->
	<select id="sellerCnt" resultType="int">
		SELECT count(*)
		FROM member
		WHERE sellerck=1
		AND adminck=0
	</select>
	
	<!-- 펀딩신청 총 게시물수 -->
	<select id="applyCnt" resultType="int">
		SELECT count(*)
		FROM FUNDING_APPLY
	</select>
	
	<!-- 펀딩예정 총 게시물수 -->
	<select id="expectCnt" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE to_char(sysdate, 'yymmdd')<to_char(fstartdate, 'yymmdd')
	]]>
	</select>
	
	<!-- 펀딩진행중 총 게시물수 -->
	<select id="progressCnt" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE to_char(fstartdate, 'yymmdd')<=to_char(sysdate, 'yymmdd') AND to_char(sysdate, 'yymmdd')<=to_char(fenddate, 'yymmdd')
	]]>
	</select>
	
	<!-- 펀딩 카테고리별 개수 -->
	<select id="categoryCnt" parameterType="String" resultType="int">
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE REPLACE(fcate, ' ', '') = #{cate}
	</select>
	
	<!-- 회원 리스트 및 페이징 처리 sql 공통부분 -->
	<sql id="search">
		<if test="type!=null and type!=''">
			<if test='type=="id"'>
				<if test="searchtext!=null and searchtext!=''">
					AND UPPER(mid) like '%' || UPPER(#{searchtext}) || '%'
				</if>
			</if>
			<if test='type=="name"'>
				<if test="searchtext!=null and searchtext!=''">
					AND UPPER(mname) like '%' || UPPER(#{searchtext}) || '%'
				</if>
			</if>
		</if>
	</sql>
	
	<!-- 회원 리스트 -->
	<select id="memberList" parameterType="com.ffunding.web.vo.MemberPagingVO" resultType="com.ffunding.web.vo.MemberVO">
		SELECT *
		FROM (
			SELECT rownum cnt, m.*
			FROM (
				SELECT *
				FROM MEMBER
				WHERE adminck=0
				<include refid="search"></include>
				ORDER BY mname
			) m
		)
		WHERE cnt BETWEEN #{start} and #{end}
	</select>
	
	<!-- 회원 검색 결과 총 회원수 -->
	<select id="memberSearchCnt" parameterType="com.ffunding.web.vo.MemberPagingVO" resultType="int">
		SELECT count(*)
		FROM member
		WHERE adminck=0
		<include refid="search"></include>
	</select>
	
	<!-- 회원 상세정보 -->
	<select id="memberDetail" parameterType="String" resultType="com.ffunding.web.vo.MemberVO">
		SELECT *
		FROM member
		WHERE mid=#{mid}
	</select>
	
	<!-- 회원 정보수정 -->
	<update id="memberDetailUpdate" parameterType="com.ffunding.web.vo.MemberVO">
		UPDATE member
		SET 
			mpw=#{mpw},
			mname=#{mname},
			mphone=#{mphone},
			memail=#{memail},
			maddress=#{maddress},
			maddress_detail=#{maddress_detail},
			point=#{point},
			sellerck=#{sellerck}
		WHERE mid=#{mid}
	</update>
	
	<!-- 펀딩신청 리스트 -->
	<select id="applyList" parameterType="com.ffunding.web.vo.ApplyPagingVO" resultType="com.ffunding.web.vo.ApplyViewVO">
		SELECT fid, fcate, fname, fprice, fgoal, to_char(fdate, 'yyyy-mm-dd') fdate, fstartdate, fenddate, fdes, writer
		FROM (
			SELECT ROWNUM cnt, f.*
			FROM (
				SELECT fa.*
				FROM FUNDING_APPLY fa
				<if test='sort=="new"'>
					ORDER BY fid desc
				</if>
				<if test='sort=="old"'>
					ORDER BY fid asc
				</if>
				<if test='sort=="close"'>
					ORDER BY fstartdate asc, fid asc
				</if>
			) f
		)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 펀딩신청 상세정보 -->
	<select id="applyDetail" parameterType="int" resultType="com.ffunding.web.vo.ApplyViewVO">
		SELECT fid, fcate, fname, fprice, fgoal, to_char(fdate, 'yyyy-mm-dd') fdate, fstartdate, fenddate, fdes, writer
		FROM FUNDING_APPLY
		WHERE fid=#{fid}
	</select>
	
	<!-- 펀딩신청 이미지 -->
	<select id="applyImage" parameterType="int" resultType="String">
		SELECT STORED_FILE_NAME
		FROM FUNDING_APPLY_FILE
		WHERE fid=#{fid}
		ORDER BY file_no ASC
	</select>
	
	<!-- 펀딩신청 삭제 -->
	<delete id="applyDel" parameterType="int">
		DELETE FROM FUNDING_APPLY 
		WHERE fid=#{fid}
	</delete>
	
	<!-- 펀딩신청 이미지 삭제 -->
	<delete id="applyImageDel" parameterType="int">
		DELETE FROM FUNDING_APPLY_FILE 
		WHERE fid=#{fid} 
	</delete>
	
	<!-- 펀딩신청 승인 -->
	<insert id="fundingIns" parameterType="com.ffunding.web.vo.FundingInsVO">
		INSERT INTO FUNDING_PRODUCT 
		VALUES (
			funding_product_seq.nextval,
			#{fcate}, 
			#{fname}, 
			#{fprice}, 
			#{fgoal}, 
			#{fdate}, 
			#{fstartdate}, 
			#{fenddate}, 
			#{fimg, jdbcType=VARCHAR}, 
			#{fimg1, jdbcType=VARCHAR}, 
			#{fimg2, jdbcType=VARCHAR}, 
			#{fimg3, jdbcType=VARCHAR}, 
			#{fimg4, jdbcType=VARCHAR}, 
			#{fimg5, jdbcType=VARCHAR}, 
			#{fdes}, 
			#{fmid}
		)
	</insert>
	
	<!-- 펀딩신청 승인시 order데이터 삽입 -->
	<insert id="orderIns" parameterType="hashmap" useGeneratedKeys="true" keyProperty="fid">
		<selectKey keyProperty="fid" resultType="int" order="BEFORE">
	    	SELECT fid
			FROM
			(
				SELECT *
				FROM FUNDING_PRODUCT
				ORDER BY fid DESC
			)
			WHERE rownum = 1
		</selectKey>
		INSERT INTO FUNDING_ORDER 
		VALUES(funding_order_seq.nextval, #{admin}, #{fid}, 0, 0, 0, sysdate)
	</insert>
	
	<!-- 판매자로 권한변경 -->
	<update id="sellerUpt" parameterType="String">
		UPDATE MEMBER
		SET SELLERCK=1
		WHERE mid=#{mid}
	</update>
	
	<!-- 구매신청 총 게시물수 -->
	<select id="purchaseCnt" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM FUNDING_PRODUCT
		WHERE to_char(fenddate, 'yymmdd')<to_char(sysdate, 'yymmdd')
	]]>
	</select>	
	
	<!-- 구매신청 리스트 -->
	<select id="purchaseList" parameterType="com.ffunding.web.vo.ApplyPagingVO" resultType="com.ffunding.web.vo.PurchaseVO">
		SELECT *
		FROM (
			SELECT ROWNUM cnt, f.*
			FROM (
				SELECT fp.fid, fname, to_char(fp.FENDDATE, 'yyyy-mm-dd') fenddate, sum(fo_price) price, sum(fo_donation) donation, fp.fgoal
				FROM FUNDING_ORDER fo, FUNDING_PRODUCT fp
				WHERE fo.fid=fp.fid
	<![CDATA[
				AND to_char(fp.FENDDATE, 'yymmdd')<to_char(sysdate, 'yymmdd')
	]]>
				GROUP BY fp.fid, fp.fname, fp.fenddate, fp.fgoal
				<if test='sort=="new"'>
					ORDER BY fp.FENDDATE desc
				</if>
				<if test='sort=="old"'>
					ORDER BY fp.FENDDATE asc
				</if>
			) f
		)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 구매신청 상세정보 -->
	<select id="purchaseDetail" parameterType="int" resultType="com.ffunding.web.vo.FundingExpVO">
		SELECT * 
		FROM FUNDING_PRODUCT 
		WHERE fid=#{fid}
	</select>
	
	<!-- 구매신청 삭제 -->
	<delete id="purchaseDel" parameterType="int">
		DELETE FROM FUNDING_PRODUCT 
		WHERE fid=#{fid}
	</delete>
	
	<!-- 펀딩구매 회원 삭제 -->
	<delete id="orderDel" parameterType="int">
		DELETE FROM FUNDING_ORDER 
		WHERE fid=#{fid}
	</delete>
	
	<!-- 펀딩한 회원리스트 -->
	<select id="orderList" parameterType="int" resultType="com.ffunding.web.vo.OrderVO">
		SELECT *
		FROM FUNDING_ORDER
		WHERE fid=#{fid}
	</select>
	
	<!-- 회원 포인트 환불 -->
	<update id="pointUpt" parameterType="com.ffunding.web.vo.OrderVO">
		UPDATE MEMBER
		SET point=point+${fo_price}+${fo_donation}
		WHERE mid=#{mid}
	</update>
	
	<!-- 펀딩한 회원 이메일 -->
	<select id="orderEmail" parameterType="int" resultType="String">
		SELECT memail
		FROM MEMBER m, FUNDING_ORDER fo
		WHERE m.mid=fo.mid
		AND fid=#{fid}
		AND memail IS NOT NULL
		AND adminck=0
	</select>
	
	<!-- 펀딩 이름 -->
	<select id="fundingName" parameterType="int" resultType="String">
		SELECT fname 
		FROM FUNDING_PRODUCT 
		WHERE fid=#{fid}
	</select>
	
	<!-- 모든 회원의 이메일 -->
	<select id="memberEmail" resultType="String">
		SELECT memail
		FROM member
		WHERE memail IS NOT NULL
	</select>
	
	<!-- 판매자 회원의 이메일 -->
	<select id="sellerEmail" resultType="String">
		SELECT memail
		FROM member
		WHERE sellerck=1
		AND memail IS NOT NULL
	</select>
	
	<resultMap type="com.ffunding.web.vo.CalendarVO" id="calendar">
		<result column="startdate" property="start"/>
		<result column="enddate" property="end"/>
		<result column="backgroundcolor" property="backgroundColor"/>
		<result column="textcolor" property="textColor"/>
	</resultMap>
	
	<!-- 일정 리스트 -->
	<select id="calendarList" resultMap="calendar">
		SELECT *
		FROM calendar
	</select>
	
	<!-- 일정 생성 -->
	<insert id="calendarIns" parameterType="com.ffunding.web.vo.CalendarVO">
		INSERT INTO CALENDAR 
		VALUES (
			calendar_seq.nextval, 
			#{title}, 
			#{start}, 
			#{end}, 
			#{backgroundColor}, 
			#{textColor},
			#{borderColor}
		)
	</insert>
	
	<!-- 일정 수정 -->
	<update id="calendarUpt" parameterType="com.ffunding.web.vo.CalendarVO">
		UPDATE CALENDAR 
		SET 
			title=#{title}, 
			startdate=#{start}, 
			enddate=#{end}, 
			backgroundcolor=#{backgroundColor}, 
			textcolor=#{textColor},
			bordercolor=#{borderColor}
		WHERE id=#{id}
	</update>
	
	<!-- 일정 삭제 -->
	<delete id="calendarDel" parameterType="int">
		DELETE FROM CALENDAR 
		WHERE id=#{id}
	</delete>
	
	
	<!-- 차트 그래프 x축 y축 날짜데이터 -->
	<select id="chartXList" resultType="String">
		 <![CDATA[
	SELECT VISIT_TIME 
    FROM (SELECT * FROM visit ORDER BY visit_time desc) 
	WHERE rownum<=1
		]]>
	</select>
	<update id="visitdateupdate"
		parameterType="com.ffunding.web.vo.VisitDateVO">
		UPDATE visitdate
		SET
		date1=#{date1},
		date2=#{date2},
		date3=#{date3},
		date4=#{date4},
		date5=#{date5},
		date6=#{date6},
		date7=#{date7}
		WHERE 1=1
	</update>
	<select id="date1" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN d.date1 AND d.date2
		]]>
	</select>
	<select id="date2" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN d.date2 AND d.date3
		]]>
	</select>
	<select id="date3" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN d.date3 AND d.date4
		]]>
	</select>
	<select id="date4" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN d.date4 AND d.date5
		]]>
	</select>
	<select id="date5" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN d.date5 AND d.date6
		]]>
	</select>
	<select id="date6" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN d.date6 AND d.date7
		]]>
	</select>
	<select id="date7" resultType="int">
		 <![CDATA[
	SELECT count(*)
	FROM VISIT v, visitdate d
	WHERE v.VISIT_TIME BETWEEN (SELECT RPAD(d.date7, 13, ' 00')AS date7 FROM visitdate d) 
	AND (SELECT RPAD(d.DATE7, 13, ' 24')AS date8 FROM visitdate d)
		]]>
	</select>
</mapper>