<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

   <select id="loginCheck" 
   		resultType="com.ffunding.web.vo.MemberVO"
   		parameterType="HashMap">
   	select * 
	from member
	where mid = #{mid}
   </select>
   
   <select id="getBySnsNaver" resultType="com.ffunding.web.vo.MemberVO">
   	select * from member where naverid = #{naverid}
   </select>
   
   <insert id="joinBySnsNaver" >
   	insert into member 
	values(
		'N' || funding_member_seq.nextval,
		'N' || #{naverid}, 
		#{mname}, 
		#{mphone, jdbcType=VARCHAR}, 
		#{memail}, 
		#{maddress, jdbcType=VARCHAR},
		#{maddress_detail, jdbcType=VARCHAR}, 
		0, 
		'0', 
		'0', 
		#{naverid}, 
		#{googleid, jdbcType=VARCHAR}, 
		#{kakaoid, jdbcType=VARCHAR} )
   </insert>
   
   <select id="getBySnsGoogle" resultType="com.ffunding.web.vo.MemberVO">
   	select * from member where googleid = #{googleid}
   </select>
   
   <insert id="joinBySnsGoogle" >
   	insert into member 
	values(
		'G' || funding_member_seq.nextval,
		'G' || #{googleid}, 
		#{mname}, 
		#{mphone, jdbcType=VARCHAR}, 
		#{memail}, 
		#{maddress, jdbcType=VARCHAR},
		#{maddress_detail, jdbcType=VARCHAR}, 
		0, 
		'0', 
		'0', 
		#{naverid, jdbcType=VARCHAR}, 
		#{googleid}, 
		#{kakaoid, jdbcType=VARCHAR} )
   </insert>
   
   <select id="getBySnsKakao" resultType="com.ffunding.web.vo.MemberVO">
   	select * from member where kakaoid = #{kakaoid}
   </select>
   
   <insert id="joinBySnsKakao" >
   	insert into member 
	values(
		'K' || funding_member_seq.nextval,
		'K' || #{kakaoid}, 
		#{mname}, 
		#{mphone, jdbcType=VARCHAR}, 
		#{memail}, 
		#{maddress, jdbcType=VARCHAR},
		#{maddress_detail, jdbcType=VARCHAR}, 
		0, 
		'0', 
		'0', 
		#{naverid, jdbcType=VARCHAR}, 
		#{googleid, jdbcType=VARCHAR}, 
		#{kakaoid} )
   </insert>
   
   <select id="idChk" resultType="int">
    select count(*) from member where mid = #{mid}
   </select>
   
   <insert id="register">
   	insert into member
   	values(
   		#{mid},
   		#{mpw},
   		#{mname},
   		#{mphone},
   		#{memail},
   		#{maddress, jdbcType=VARCHAR},
		#{maddress_detail, jdbcType=VARCHAR},
		0,
		'0',
		'0',
		#{naverid, jdbcType=VARCHAR}, 
		#{googleid, jdbcType=VARCHAR},
		#{kakaoid, jdbcType=VARCHAR} )
   </insert>
   
   <select id="findID" resultType="String">
   	select mid from member where memail = #{email}
   </select>
   
   <update id="updatePW">
   	update member set
		mpw = #{mpw}
	WHERE memail = #{memail} AND mid = #{mid}
   </update>
</mapper>