#pageSize {
	float: right;
}
#sort {
	width: 100px;
}
.row {
    margin: 0px;
}
#frm {
	display: flex;
    justify-content: space-between;
}
.sortFrm {
    margin-bottom: 15px;
}
.pageFrm {
	display: flex;
	justify-content: flex-end;
	align-items: center;
    margin-bottom: 15px;
}
.pageFrm > span {
	margin-right: 15px;
}
.pageFrm > select {
	width: 130px;
}
#dataTable > thead > tr > th {
	text-align: center;
	vertical-align: middle;
}
#dataTable > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}
.applyrow:hover {
	cursor: pointer;
	background: #f8f9fc;
}
.fname {
	text-align: left !important;
}
.paging {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}